<!-- <#% include ../partials/header.ejs %> -->
Add new member page
<form action="/group/<%= groupId %>/newMember" method="POST">
    <input type="text" name="email" placeholder="E-mail"> <br>
    <!--<input type="text" name="image" placeholder="Photo"> <br>-->
    <input type="submit">

</form>


<!-- <#% include ../partials/footer.ejs %> -->
