<!-- <#% include ../partials/header.ejs %> -->
Add new member page
<form action="/group/newMember" method="POST">
    <input type="text" name="name" placeholder="E-mail"> <br>
    <!-- <input type="number" name="price" placeholder="price"> <br> -->
    <!--<input type="text" name="image" placeholder="Photo"> <br>-->
    <input type="submit">

</form>


<!-- <#% include ../partials/footer.ejs %> -->
