New Bill add

<form action="/group/<%= groupId %>/bill" method="POST">
    <input type="text" name="name" placeholder="Bill place or description"> <br>
    <input type="text" name="amount" placeholder="amount of bill">
    <br>
    <input type="submit">

</form>