<% include partials/header.ejs %>
Home page
<br>
 <a href="/login">Login</a>
<br>

Logout <a href="/logout"> Logout </a>
<br>
Register <a href="/register"> Register </a>
<br>
New group <a href="/group/new"> New group</a>
<br>
Add new member <a href="/group/addMember">New member</a>
<% include partials/footer.ejs %>