<% include partials/header.ejs %>
Home page
<br>
 <a href="/login">Login</a>
<br>

Logout <a href="/logout"> Logout </a>
<br>
Register <a href="/register"> Register </a>
<br>
New group <a href="/group/new"> New group</a>
<br>
Add new member <a href="/group/2/addMember">New member</a>
<br>
Get all groups by user <a href="/group/index"> Get all groups by user</a>
<br>
<a href="/pf/home"> Home page </a>
<br>
<a href="/group/getbalance"> GEt balance </a>
<br>

<br>

<br>
<% include partials/footer.ejs %>