
<form action="/pf/new" method="POST">
    <input type="text" name="name" placeholder="E-mail"> <br>
    <input type= "number" name="Amount" placeholder="Enter amount"> 
    <input type="submit">

</form>