
<form action="/pf/new" method="POST">
    <input type="text" name="name" placeholder="Name"> <br>
    <input type="text" name="desription" placeholder="Description">
    <input type="number" name="debit" placeholder="Income Amount"> 
    <input type= "number" name="credit" placeholder="Expense Amount">
    <input type="submit">

</form>