
<form action="/pf/income" method="POST">
    <input type="text" name="name" placeholder="Name"> <br>
    <input type="text" name="desription" placeholder="Description">
    <input type= "int" name="credit" placeholder="Expense Amount">
    <input type="submit">

</form>